:root {
    --main-color: rgb(255, 20, 200);
    --dark-color: rgb(0, 27, 49);
    --light-color: rgb(189, 254, 255);
    --radius: 0.25rem;
}

* {
    font-family: monospace;
    color: var(--main-color);
    box-sizing: border-box;
}

body,
html {
    background-color: var(--dark-color);
}

body {
    display: flex;
    align-items: center;
    gap: 2rem;
    flex-direction: column;
    width: 100vw;
    height: 100vh;
    padding: 5rem;
}

label {
    color: var(--light-color);
    font-size: 2rem;
}

input {
    width: 100vw;
    max-width: 400px;
    outline: none;
    border: none;
    padding: 1rem;
    border-radius: var(--radius);
    color: var(--dark-color);
    font-size: 1.5rem;
    background-color: var(--light-color);
    text-align: center;
}

input::placeholder {
    color: var(--dark-color);
}

button {
    width: 10rem;
    cursor: pointer;
    background-color: var(--main-color);
    color: var(--dark-color);
    padding: 1rem;
    outline: none;
    border: 2px solid var(--main-color);
    border-radius: var(--radius);
    font-weight: 700;
    transition: all 0.5s ease;
    font-size: 1.25rem;
    text-transform: uppercase;
}

button:hover {
    background-color: var(--dark-color);
    color: var(--main-color);
}

h1 {
    text-transform: uppercase;
    font-size: 3rem;
    text-align: center;
}

#name {
    font-size: 1.25rem;
    padding: 1rem;
    border: 2px solid var(--main-color);
    border-radius: var(--radius);
    color: var(--light-color);
}

#gift {
    font-size: 3rem;
}

.hidden {
    display: none;
}
